{% extends 'base.html' %}

{% block menu %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="https://yt3.googleusercontent.com/ytc/AOPolaRxmIP5pSnCo3Fd_B8e8EuA-cfrt-B113qG8HzqmA=s176-c-k-c0x00ffffff-no-rj" alt="">
            <span class="fs-4 ms-2 tv-show">TV Shows</span>
        </a>

    </header>
</div>
{% endblock %}

{% block estilos %}
{% endblock %}



{% block contenido %}

<main class="form-login w-100 ">
    <form action="/procesar_login" method="post">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    </form>

    <hr>
    <a class="btn btn-success   w-100 py-2 mt-3" href="{{ url_for('register')}}" type="submit">Create an account</a>
    <p class="mt-5 mb-3 text-muted">© Coding Dojo 2023</p>


</main>


{% endblock %}

{% block scripts %}

{% endblock %}